.product-page {
  padding-top: 80px;
  padding-bottom: 100px;
}




.product-page .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  border-bottom: 2px solid gray;
  background-color: white;
}

.product-page .header img {
  width: 50px;
  height: 50px;
  padding: 15px;
}



.product-page .top-image img {
  width: 100%;
}





.product-page .user-content .profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.product-page .user-content .post {
  padding: 20px;
  border-bottom: 1px solid gray;
}





.product-page .item-list .item-card {
  display: flex;
  flex-direction: column;
}

.product-page .item-list .item-card img {
  width: 100px;
  height: 100px;
}




.product-page .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;

  border-top: 2px solid gray;

  background-color: white;
}

.product-page .footer img {
  width: 50px;
  height: 50px;

  padding-right: 20px;
  margin: 0 15px;

  border-right: 2px solid gray;
}