.product {
  padding-top: 8px;
  padding-bottom: 100px;
}

.product_header img {
  position: fixed;
  width: 50px;
  height: 50px;
  padding-left: 90px;
  padding-top: 3px;
}

.product_image img {
  padding: 15px;
}

.product_content img{
  width: 70px;
  height: 70px;
  margin-Right: 10px;
}

.product_content .user_profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.product_content .post {
  padding-left: 10px;
  border-bottom: 1px solid gray;
}

.other_products {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.other_products .이름지을꺼없다 {
  margin-left: 20px;
}

.other_products .see_all {
  cursor: pointer;
  margin-right: 20px;
  color: gray;
}

.product_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;

  border-top: 2px solid gray;

  background-color: white;
}

.product_footer img {
  width: 50px;
  height: 50px;

  padding-right: 20px;
  margin: 0 15px;

  border-right: 2px solid gray;
}

.heart_button {
  cursor: pointer;
}


